.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


// introduccion    
.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: #ffffff 
   
.color_anexo-intro
  background: #FFF6DB  
@media ( background-color: #FEDC72)
  .color_anexo-intro
    content: ''
    display: block
    width: 25px
    height: 10px
    position: absolute
    top: 0
    left: 0
    background-color: #FEDC72

.imagen-decorativa-2
  animation: float1 2.5s ease-in-out infinite alternate
  position: absolute
  top: 355rem
  right: 69%
  width: 21%

@media (max-width: 500px) 
  .imagen-decorativa-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 519rem
    right: 18%
    width: 59%        

/// Tema-1

.tarjeta.color-acento-contenido-trj-t1
    color: #ffffff

.tarjeta--gris-t1 
  background-color: #F6F6F6


  
  
.img.tarjeta-tema-1
    width: 50%
    margin-left: 25%

@media (max-width: 500px) 
  .img.tarjeta-tema-1
    width: 25%
    margin-left: 37%

.img.tarjeta-tema-1-1
    width: 100%
    

@media (max-width: 500px) 
  .img.tarjeta-tema-1-1
    width: 40%
    margin-left: 25%      


.color_anexo2
  background: #E2DAFC   

.table-t1
  margin-left: 100px

.parraf-t1 
    margin-left: 356px
    margin-top: -115px

.color-secundario2
  background: #FEDC72
  width: 90%
  margin-left: 43px  

.bloque-texto-g__texto-t1
  position: relative
  width: 70% 
  background-color: rgba(255, 255, 255, 0.95)  

.parraf-t2  
  margin-left: 170px
  margin-top: -108px  

.img-t1 
  margin-left: 4%
  width: 90%
.titulo-img-t1
  margin-left: 25%

.tarjeta--gris 
  background-color: #FFF6DB

.img_10_t2
  width: 90%
  margin-left: 4%

.img_10_t3
  width: 50%
  margin-left: 63px  

.img_10_t1
  width: 50%
  margin-left: 96px 

.tarjeta--azul 
  background-color: #FEDC72

.tarjeta.color-acento-botones-t3 
  background-color: #5038A1 
.heading_t4
  color: #FFFFFF  


//Tema_8

.img3_t8
  width: 78%
  margin-left: 11%

// Tema 4

.pasos-a.color-acento-contenido .pasos-a__circle div 
  color: #FFFFFF

.color-acento-contenido-t4
  background-color: #E2DAFC

.parraf-t4
  margin-left: 8%
 

.cajon:before 
  content: ''
  display: block
  width: 25px
  height: 10px
  position: absolute
  top: 0
  left: 0
  background-color: #8C6DF2


.ptos-hot-t4 
    width: 70%
    margin-left: 15%
.tarjeta.color-acento-botones-t4 
  background-color: #FEDC72     

.tex-ptos_t4 
  color: #000000 

.img-infografica.color-primario .img-infografica__item__numero, .img-infografica-b.color-primario .img-infografica__item__numero
  color: #FFFFFF
  font-weight: bold


.bloque-texto-b.color-primario:before 
    background-color: #EEE9FD

.bloque-texto-b.color-primario:before 
    background-color: #EEE9FD
    height: 18%
    margin-left: -27%
    margin-top: 16%

///////// Card hover --------------------------------------
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: rgba(255, 247, 230, 1) 
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em





  /// Tema-6

.bloque-texto-b.color-primario-tema6:before 
    background-color: #EEE9FD
    height: 18%
    width: 67%
    margin-left: -26%
    margin-top: -7%

// tema 8  

.opciones-t8
  background-color: #FEF9E9

  



   
  





   
      
         
   


